<%- include('partials/header') -%>
    <h1>home</h1>
    <p>
        <%=para%>
    </p>
    <%list.forEach((ele)=>{%>
        <h2>
            <%=ele.title%>
        </h2>
        <p>
            <%=ele.content.substring(0, 20)+'....'%>
            <a href="/post/<%=ele.title%>">more</a>
        </p>
        <%});%>
            <%- include('partials/footer') -%>